/** @format */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #787f86; /* Grey background */
}

.container {
  text-align: center;
  color: rgb(10, 1, 1); /* White text for the title */
}

h1 {
  font-size: 25px;
  font-weight: 800;
}

.calculate {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; /* Space between the buttons and the reset button */
}

.calculate button {
  /* margin: 0 1px; Space between the + and - buttons */
  padding: 8px 15px;
  font-size: 16px;
}

.count {
  /* margin: 0 0px; */
  padding: 8px 15px;
  font-size: 16px;
  color: rgb(10, 1, 1);
  background-color: white;
  border: #696969 solid 1px;
  border-radius: 3px;
}

.reset {
  display: block;
  margin: 0 auto;
  background-color: #9c27b0; /* Purple background for reset button */
  color: white; /* White text color */
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 3px;
}
